// Colors
$color-primary: rgb(208, 157, 112);
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #444;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-dark: #000;

// Font weight
$regular-font-weight: 400;
$bold-font-weight: 700;
$medium-font-weight: 600;

// Font size
$heading-secondary: 3.5rem;
$heading-tertiary: 1.6rem;
$default-font-size: 1.6rem;

// Grid
// $grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;

// Utility
$u-margin-bottom-small: 2rem;
$u-margin-bottom-medium: 4rem;
$u-margin-bottom-big: 8rem;
$paragraph-margin-bottom: 3rem;
