.container {
  max-width: 105rem;
  margin: 0 auto;
}

.clear-lh {
  line-height: 1;
}

.dots {
  position: absolute;
  display: flex;
  gap: 1rem;
  align-items: center;

  .dot {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: 2px solid #444;
  }

  .dot-active {
    background-color: #444;
  }
}

.s-gutter-vertical {
  margin-bottom: $u-margin-bottom-small;
}

.m-gutter-vertical {
  margin-bottom: $u-margin-bottom-medium;
}
